.menubar a{
    
    margin-left: 50px;
}


@media only screen and (max-width: 576px) {
    .banner{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .menubar{
        width: 100%;
        display: block;
        position: absolute;
        margin-top: 150px;
        
    }
    .navbar{
        width: 100%;
    }
    .banner button{
        width: 40%;
    }
    .title{
        font-size: 18px;
    }
  }